/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*==================== BOOTSTRAP ICONS ====================*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  text-decoration: none;
  line-height: 1;
}

html, body {
  width: 100%;
  height: 100vh;
}

a, button {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.hidden-cursor {
  cursor: none !important;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.app {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 100%;
  text-align: center;
  padding: 10px;
}

.app > * {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  width: 45%;
  border-bottom: 1px solid gray;
}

button {
  width: 100%;
  padding: 8px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
}
